.recipe-form {
    padding: 2rem;
    position: absolute;
}

.recipe-input {
    margin: 0.5rem;
}

.recipe-submit {
    background-color: #00AB9A;
    border: none;
    color: #313131;
    font-size: 32px;
    margin: 1rem;
}

.recipe-submit:hover {
    background-color: #00D4B8;
}

.recipe-upload {
    background-color: #00AB9A;
    border: none;
    color: #313131;
}

textarea {
    resize: none;
}